<h1>Assignments</h1>
<%= link_to "New", new_assignment_path, :class => "btn btn-primary" %></p>
<br />

<ul>
  <% @assignments.each do |assignment| %>
    <li>
    <%= link_to assignment.problem.name, assignment_path(assignment) %>
    </li>
  <% end %>
</ul>
