<h1> <%= @student.full_name %>'s submissions</h1>
<p> <%= @student.email %></p>
<p>
	<ul>
	<% @student.submissions.each do |submission| %>
	<li><%= link_to submission, submission_path(submission) %> |
		<% if submission.success? %> 
      <span class="text-success">PASS</span>
    <% else %>
      <span class="text-error">FAIL</span>
    <% end %></li>
	<% end %>
</ul>
  <%= link_to "Student list", students_path %>
</p>

