<h1>Problems</h1>
<%= link_to "New", new_problem_path, :class => "btn btn-primary" %>
<br />

<div class="problems-list">
  <ul>
    <% @problems.each do |problem| %>
      <li>
        <%= link_to problem.name, problem_path(problem), :class => "" %>
      </li>
    <% end %>
  </ul>
</div>
