<div class="home">
  <h1>Welcome to Codakata!</h1>
  <p>Do your homework!</p>
  <br>
  <%= link_to "Log in", new_student_session_path, :class => "btn btn-warning btn-large" %>
</div>
<div class="home2 container">
  <p class="lead">
  <blockquote class="pull-left">
    <p>Russ told me to do my homework, so I did.  I was so surprised to find out that I actually learned!</p>
    <small>Anonymous Student</small>
  </blockquote>

  <br />
  <br />

  <blockquote class="pull-right">
    <p>I used to wait until the last day to do my homework.  Now I do it every day, I feel so much smarter!</p>
    <small>Anonymous Student</small>
  </blockquote>

  </p>
</div>
