/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require ./bootstrap
 *= require codemirror
 *= require bootstrap-datepicker
 *= require home
 *= require assignments
 *= require editor
 *= require problems
 */
 
div.well {
	padding-bottom: 0px;
}

.shadow {
  border-bottom: #000;
  box-shadow: 0px 5px 10px #000;
}

.problems, .assignments, .problems, .groups, .students {
	margin: 10px;
	padding: 10px;
}

.problems li, .assignments li, .problems li, .groups li, .students li {
	font-size: 1.2em;
	margin: 15px;
}

.view-link {
	font-weight: bold;
}